:root {
    --font-sans-serif: "franklin-gothic-atf", sans-serif;
    --font-serif:
        --black: #000;
    --red: #f0320c;
    --green: #278240;
    --blue: #4176dc;
    --yellow: #f7e144;
    --dark-gray: #646464;
    --light-gray: #d9d9da;
    --white: #fff;
}

/*fonts
Franklin Gothic ATF Thin
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 100;
font-style: normal;

Franklin Gothic ATF Thin Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 100;
font-style: italic;

Franklin Gothic ATF Extra Light
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 200;
font-style: normal;

Franklin Gothic ATF Extra Light Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 200;
font-style: italic;

Franklin Gothic ATF Light
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 300;
font-style: normal;

Franklin Gothic ATF Light Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 300;
font-style: italic;

Franklin Gothic ATF Regular
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 400;
font-style: normal;

Franklin Gothic ATF Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 400;
font-style: italic;

Franklin Gothic ATF Medium
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 500;
font-style: normal;

Franklin Gothic ATF Medium Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 500;
font-style: italic;

Franklin Gothic ATF Bold
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 600;
font-style: normal;

Franklin Gothic ATF Bold Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 600;
font-style: italic;

Franklin Gothic ATF Black
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 700;
font-style: normal;

Franklin Gothic ATF Black Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 700;
font-style: italic;

Franklin Gothic ATF Heavy
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 800;
font-style: normal;

Franklin Gothic ATF Heavy Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 800;
font-style: italic;

Franklin Gothic ATF Ultra
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 900;
font-style: normal;

Franklin Gothic ATF Ultra Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 900;
font-style: italic;

*/



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    font-family: var(--font-sans-serif);
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--dark-gray);
}

h1 {
    font-family: "loos-normal", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-family: "loos-compressed", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;

}

img {
    display: block;
}

.components img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--light-gray);
    overflow-x: auto;
}