:root {
    --font-sans-serif: "franklin-gothic-atf", sans-serif;
    --font-serif:
        --black: #000;
    --red: #f0320c;
    --dark-red: #96200b;
    --green: #278240;
    --blue: #4176dc;
    --yellow: #f7e144;
    --dark-gray: #282b30;
    --light-gray: #d9d9da;
    --white: #fff;
    --super-gray: #636770;
}

/*fonts
Franklin Gothic ATF Thin
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 100;
font-style: normal;

Franklin Gothic ATF Thin Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 100;
font-style: italic;

Franklin Gothic ATF Extra Light
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 200;
font-style: normal;

Franklin Gothic ATF Extra Light Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 200;
font-style: italic;

Franklin Gothic ATF Light
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 300;
font-style: normal;

Franklin Gothic ATF Light Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 300;
font-style: italic;

Franklin Gothic ATF Regular
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 400;
font-style: normal;

Franklin Gothic ATF Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 400;
font-style: italic;

Franklin Gothic ATF Medium
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 500;
font-style: normal;

Franklin Gothic ATF Medium Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 500;
font-style: italic;

Franklin Gothic ATF Bold
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 600;
font-style: normal;

Franklin Gothic ATF Bold Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 600;
font-style: italic;

Franklin Gothic ATF Black
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 700;
font-style: normal;

Franklin Gothic ATF Black Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 700;
font-style: italic;

Franklin Gothic ATF Heavy
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 800;
font-style: normal;

Franklin Gothic ATF Heavy Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 800;
font-style: italic;

Franklin Gothic ATF Ultra
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 900;
font-style: normal;

Franklin Gothic ATF Ultra Italic
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 900;
font-style: italic;

*/



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    font-family: var(--font-sans-serif);
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--dark-gray);
}

h1 {
    font-family: "loos-normal", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-family: "bebas-kai", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;

}

li {
    font-family: "loos-normal", sans-serif;
    line-height: 1.75rem;
    font-weight: 200;
}

.social-media .flat-list a {
    color: var(--white);
    margin-left: 15px;
}

.red-bar {
    width: 100%;
    background-color: var(--red);
}

.news-title {
    background-color: var(--white);
    width: 52px;
    margin-left: 25px;
    text-align: center;
}

.theatres-heading {
    margin-left: 8px;

}

img {
    display: block;
}

.components img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--light-gray);
    overflow-x: auto;
}

/*Listings */
.listings td {
    font-family: var(--font-sans-serif);
    border-bottom: 1px solid var(--light-gray);
    height: 50px;
    width: 90%;

}

.rating {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.tomato {
    padding-right: 2px;
}

/* Sections */
.sponsor {
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: gray;
}

.sponsor-logo {
    margin-left: 0.30rem;

}

.movie-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-rating {
    display: flex;
    flex-direction: column;
    height: 30px;
}

.percent {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.movie-title {
    display: flex;
    height: 50px;
    font-size: .875rem;
    line-height: 1.4;
    margin-bottom: 35;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word;
    margin-top: -6px;

}

.button {
    background-color: transparent;
    border: 1.5px solid black;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 75px;
    font-family: "franklin-gothic-atf", sans-serif;
    text-align: center;
    font-size: 16px;
    padding-right: 50px;
    padding-left: 50px;
}

.p--small {}

.fa-solid {
    margin-right: 5px;
}

.icon2 {
    margin-left: 25px;
}

.listing {
    display: flex;


}

.full-movie {
    width: 15%;
    height: 450px;
}

.section-header {
    display: flex;
    align-items: flex-end;
    border-left: 8px solid red;
}

/*footer*/


.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: var(--dark-gray);
    color: var(--white)
}

.first-list {
    list-style-type: none;
}

.second-list {
    list-style-type: none;
}

.social-media .flat-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.newsletter {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 32px;
}

.newsletter-title {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;

}

.newsletter-body {
    color: var(--white);
    text-align: center;
}

.button-footer {
    background-color: var(--blue);

    color: var(--white);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "franklin-gothic-atf", sans-serif;
    text-align: center;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    width: 64%;
    align-self: center;

}

.social-title {
    color: var(--white);
    text-align: center;
    width: 100%;
}

.privacy,
.terms,
.choices,
.cali,
.ad,
.accessibility {
    color: var(--white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

table {
    width: 100%;
}

.copyright {
    color: var(--white);
    background-color: var(--dark-gray);
    text-align: center;
    height: 100px;
}

.footer-table {
    color: var(--white);
    width: auto;
    border-right: 2px solid var(--super-gray);
    height: 31px;
    padding-top: 30px;
    font-family: var(--font-sans-serif);
}

.footer-table a {
    color: var(--white);
    width: auto;
    text-decoration: none;

}

.footer-table td {
    border-bottom: none;
    padding-top: 0px;
}

.footer-container {
    height: 50px;
}

.footer-table {
    padding-top: 0px;
}

.footer-access {
    padding-top: 0px;
    color: var(--white);
    width: auto;
    text-decoration: none;
}

.footer-access a {
    color: var(--white);
    font-family: var(--font-sans-serif);
    text-decoration: none;
}

.first-container {
    width: 25%;
}

.second-container {
    width: 25%;
}

.social-media {
    width: 25%;
}

.legal {
    color: var(--white);
}

.legal p {
    color: var(--super-gray);
    font-weight: 300;
    font-size: .75rem;
}


/*Top Navigation */
.topnav {
    overflow: hidden;
    font-family: var(--font-sans-serif);
    width: 33%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav input[type=text] {
    padding: 6px;
    margin-top: 36px;
    border: 1px solid var(--white);
    background-color: var(--dark-red);
    font-size: 17px;
    color: white;
    border-radius: 16px;
    width: 100%;
}

.heading-bg {
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 180px;
    margin-left: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.top-table {
    width: 30%;
}

.top-table a {
    color: var(--white);
    font-family: "loos-normal", sans-serif;
    text-decoration: none;
}

.top-links {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.top-links a {
    color: var(--white);
    text-decoration: none;
}

.top-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}


.bottom-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: 400;
}

.bottom-bar li {
    font-family: var(--font-sans-serif);
    font-weight: 500;
}