<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equix="X-UA-Compatible" content="ie-edge">
    <title>Components | Rotten Tomatoes</title>
    <!--Fonts goes here -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/pca5ztl.css">
    <link rel="stylesheet" href="https://use.typekit.net/pca5ztl.css">
    <script src="https://kit.fontawesome.com/84d757a7c5.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
</head>

<body>
    <h1> Web Components go here</h1>

    <h2>Typography Defaults</h2>
    <article class="component">
        <h3 class="component__heading">body</h3>
        <div class="component__img">
            <img srcset="img/body-copy.png 2x" alt="body copy" />
        </div>

        <div class="component__code">
            <p>As movie theater prices continue to increase (let’s not even talk about those concessions),
                we know it can be tough to figure out which movies to spend your hard-earned
                money on. With that in mind, here’s a handy calendar of some of the most noteworthy
                titles coming in 2025 so you can budget and plan accordingly.</p>

        </div>
    </article>

    <!--Headings-->
    <article class="component">
        <h3 class="component__heading">Headings</h3>
        <div class="component__img">
            <img srcset="img/h1.png" alt="h1 copy" />
            <img srcset="img/h2.png" alt="h1 copy" />

            <h1>The Most Anticipated Movies of 2025</h1>
            <h2>News</h2>
        </div>
    </article>

    <!--Listings-->
    <h2>Listings</h2>
    <article class="component">
        <div class="component__img">
            <img srcset="img/popular-streaming-popular-tv.png 2x" alt="body copy" />
        </div>

        <div class="component__code">
            <table style="width:50%">
                <tr>
                    <td>The Substance</td>
                    <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">90%</td>
                </tr>
                <tr>
                    <td>Smile 2</td>
                    <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">86%</td>
                </tr>
                <tr>
                    <td>Hot Frosty</td>
                    <td class="rating"><img class="tomato" src="img/tomato.png" width="16px">86%</td>
                </tr>
                <tr>
                    <td>Gladiator</td>
                    <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">80%</td>
                </tr>
                <tr>
                    <td>My Old Ass</td>
                    <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">90%</td>
                </tr>
                <tr>
                    <td>The Wild Robot</td>
                    <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">98%</td>
                </tr>
                <tr>
                    <td>Emilia Perez</td>
                    <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">80%</td>
                </tr>
                <tr>
                    <td>Joker: Folie a Deux</td>
                    <td class="rating"><img class="tomato" src="img/splat.png" width="16px">32%</td>
                </tr>
                <tr>
                    <td>Megalopolis</td>
                    <td class="rating"><img class="tomato" src="img/splat.png" width="16px">46%</td>
                </tr>
                <tr>
                    <td>Deadpool & Wolverine</td>
                    <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">78%</td>
                </tr>
            </table>

        </div>
    </article>
    <h2>Nav Heading</h2>
    <article class="component">
        <h3 class="component__heading">body</h3>
        <div class="component__img">
            <img srcset="img/body-copy.png 2x" alt="body copy" />
        </div>

        <div class="component__code">
            <p>As movie theater prices continue to increase (let’s not even talk about those concessions),
                we know it can be tough to figure out which movies to spend your hard-earned
                money on. With that in mind, here’s a handy calendar of some of the most noteworthy
                titles coming in 2025 so you can budget and plan accordingly.</p>

        </div>
    </article>
    <!--Section headings-->

    <h2>Section Headings</h2>
    <article class="component">
        <h3 class="component__heading">body</h3>
        <div class="component__img">
            <img srcset="img/body-copy.png 2x" alt="body copy" />
        </div>

        <div class="component__code">
            <p>As movie theater prices continue to increase (let’s not even talk about those concessions),
                we know it can be tough to figure out which movies to spend your hard-earned
                money on. With that in mind, here’s a handy calendar of some of the most noteworthy
                titles coming in 2025 so you can budget and plan accordingly.</p>

        </div>
    </article>
    <h2>Sections</h2>
    <article class="component">
        <h3 class="component__heading">body</h3>
        <div class="component__img">
            <img srcset="img/body-copy.png 2x" alt="body copy" />
        </div>

        <div class="component__code">
            <!-- In Theatres -->






</body>

</html>