<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equix="X-UA-Compatible" content="ie-edge">
    <title>Components | Rotten Tomatoes</title>
    <!--Fonts goes here -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/pca5ztl.css">
    <link rel="stylesheet" href="https://use.typekit.net/pca5ztl.css">
    <script src="https://kit.fontawesome.com/84d757a7c5.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
</head>

<body>


    <h2>Typography Defaults</h2>
    <article class="component">
        <h3 class="component__heading">body</h3>
        <div class="component__img">
            <img srcset="img/body-copy.png 2x" alt="body copy" />
        </div>

        <div class="component__code">
            <p>As movie theater prices continue to increase (let’s not even talk about those concessions),
                we know it can be tough to figure out which movies to spend your hard-earned
                money on. With that in mind, here’s a handy calendar of some of the most noteworthy
                titles coming in 2025 so you can budget and plan accordingly.</p>

        </div>
    </article>

    <div class="head-nav">
        <article class="component">
            <h2 class="component__heading">First Navigation</h2>
            <div class="component__img">
                <img srcset="img/main-nav.png 2x" alt="Screenshot" />
            </div>
            <div class="head-nav">
                <div class="heading-bg">
                    <div class="logo">
                        <img src="img/rt-logo.png" alt="Logo" />
                    </div>
                    <div class="topnav">
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="top-links">
                        <ul class="top-bar">
                            <li><a href="!#">About Rotten Tomatoes</a></li>
                            <li><a href="!#">Critics</a></li>
                            <li><a href="!#">Login/Signup</a></li>
                        </ul>
                        <ul class="bottom-bar">
                            <li><a href="!#">Movies</a></li>
                            <li><a href="!#">TV Shows</a></li>
                            <li><a href="!#">Fanstore</a></li>
                            <li><a href="!#">News</a></li>
                            <li><a href="!#">Showtimes</a></li>
                        </ul>
                    </div>
                </div>
                <!--Second Nav-->
                <div class="head-nav">
                    <article class="component">
                        <h2 class="component__heading">Second Navigation</h2>
                        <div class="component__img">
                            <img srcset="img/second-nav.png 2x" alt="Screenshot" />
                        </div>
                        <div class="second-nav">
                            <ul class="second-nav-list">
                                <li class="trending">Trending on RT</li>
                                <li>Wicked Livestream</li>
                                <li>Holiday Programming Guide</li>
                                <li>Wicked Social Reactions</li>
                                <li>Verified Hot Movies</li>
                            </ul>
                        </div>





                </div>
        </article>

        <!--Listings-->
        <h1>Listings</h1>
        <article class="component">
            <div class="component__img">
                <img srcset="img/popular-streaming-popular-tv.png 2x" alt="body copy" />
            </div>

            <div class="component__code">
                <table class="listings" style="width:50%">
                    <tr>
                        <td>The Substance</td>
                        <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">90%</td>
                    </tr>
                    <tr>
                        <td>Smile 2</td>
                        <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">86%</td>
                    </tr>
                    <tr>
                        <td>Hot Frosty</td>
                        <td class="rating"><img class="tomato" src="img/tomato.png" width="16px">86%</td>
                    </tr>
                    <tr>
                        <td>Gladiator</td>
                        <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">80%</td>
                    </tr>
                    <tr>
                        <td>My Old Ass</td>
                        <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">90%</td>
                    </tr>
                    <tr>
                        <td>The Wild Robot</td>
                        <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">98%</td>
                    </tr>
                    <tr>
                        <td>Emilia Perez</td>
                        <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">80%</td>
                    </tr>
                    <tr>
                        <td>Joker: Folie a Deux</td>
                        <td class="rating"><img class="tomato" src="img/splat.png" width="16px">32%</td>
                    </tr>
                    <tr>
                        <td>Megalopolis</td>
                        <td class="rating"><img class="tomato" src="img/splat.png" width="16px">46%</td>
                    </tr>
                    <tr>
                        <td>Deadpool & Wolverine</td>
                        <td class="rating"><img class="tomato" src="img/fresh-tomato.png" width="16px">78%</td>
                    </tr>
                </table>

            </div>

            <h1>Horizontal Listings</h1>
            <!--Now in Theatres-->
            <div class="section-header">
                <div class="section-header-container"></div>
                <div class="theatres-heading">
                    <h1 class="now-in-theatres">Now in Theatres</h1>
                </div>
                <p class="sponsor">Brought to you by <img class="sponsor-logo" src="img/fandango-logo.png"
                        alt="Fandango Logo" width="90"></p>
            </div>
            <div class="listing">
                <!--RED ONE-->
                <div class="full-movie">
                    <img class="movie__img" src="img/red-one.png" alt="Red One" width="206">
                    <div class="content">
                        <div class="movie-rating">
                            <div class="rating-icon"><img class="icon" src="img/splat.png" alt="rating" width="16">
                                <p class="percent-number-number">34%</p>

                                <img class="icon2" src="img/not-rating.png" alt="rating" width="16">
                                <p class="percent-number">- - </p>
                            </div>
                            <p class="movie-title">Red One</p>
                            <p><a class="button" href="#"><i class="fa-solid fa-plus"></i> Watchlist</a></p>
                        </div>
                    </div>
                </div>


                <!--CONCLAVE-->
                <div class="full-movie">

                    <img class="movie__img" src="img/conclave.png" alt="Conclave" width="206">
                    <div class="content">
                        <div class="movie-rating">
                            <div class="rating-icon"><img class="icon" src="img/fresh-tomato.svg" alt="rating"
                                    width="16">
                                <p class="percent-number">91%</p>

                                <img class="icon2" src="img/positive-audience.png" alt="rating" width="16">
                                <p class="percent-number">85%</p>
                            </div>
                            <p class="movie-title">Conclave</p>
                            <p><a class="button" href="#"><i class="fa-solid fa-plus"></i> Watchlist</a></p>
                        </div>
                    </div>
                </div>


                <!--Christmas Pagaent-->
                <div class="full-movie">

                    <img class="movie__img" src="img/christmas-pageant.png" alt="The best Christmas Pageant Ever"
                        width="206">
                    <div class="content">
                        <div class="movie-rating">
                            <div class="rating-icon"><img class="icon" src="img/tomato.png" alt="rating" width="16">
                                <p class="percent-number">89%</p>

                                <img class="icon2" src="img/verified-hot.png" alt="rating" width="16">
                                <p class="percent-number">98%</p>
                            </div>
                            <p class="movie-title">The Best Christmas Pageant Ever</p>
                            <p><a class="button" href="#"><i class="fa-solid fa-plus"></i> Watchlist</a></p>
                        </div>
                    </div>
                </div>

                <!--Heretic-->
                <div class="full-movie">

                    <img class="movie__img" src="img/heretic.png" alt="Heretic" height="293">
                    <div class="content">
                        <div class="movie-rating">
                            <div class="rating-icon"><img class="icon" src="img/tomato.png" alt="rating" width="16">
                                <p class="percent-number">89%</p>

                                <img class="icon2" src="img/verified-hot.png" alt="rating" width="16">
                                <p class="percent-number">98%</p>
                            </div>
                            <p class="movie-title">Heretic</p>
                            <p><a class="button" href="#"><i class="fa-solid fa-plus"></i> Watchlist</a></p>
                        </div>
                    </div>
                </div>


                <!--Juror 2-->
                <div class="full-movie">

                    <img class="movie__img" src="img/Juror2.png" alt="Red One" width="206">
                    <div class="content">
                        <div class="movie-rating">
                            <div class="rating-icon"><img class="icon" src="img/fresh-tomato.svg" alt="rating"
                                    width="16">
                                <p class="percent-number">92%</p>

                                <img class="icon2" src="img/positive-audience.png" alt="rating" width="16">
                                <p class="percent-number">89% </p>
                            </div>
                            <p class="movie-title">Juror #2</p>
                            <p><a class="button" href="#"><i class="fa-solid fa-plus"></i> Watchlist</a></p>
                        </div>
                    </div>
                </div>
            </div>
            </section>





            <!--Footer-->
            <h1>Footer</h1>
            <article class="component-footer">
                <footer class="footer">
                    <div class="first-container">
                        <ul class="first-list">
                            <li>Help</li>
                            <li>About Rotten Tomatoes</li>
                            <li>Feedback</li>
                        </ul>
                    </div>
                    <div class="second-container">
                        <ul class="second-list">
                            <li>Critic Submission</li>
                            <li>Licensing</li>
                            <li>Advertise with Us</li>
                            <li>Careers</li>
                        </ul>
                    </div>

                    <div class="newsletter">
                        <p class="newsletter-title"><i class="fa-regular fa-envelope"></i> Join the Newsletter</p>
                        <p class="newsletter-body">Get the freshest reviews, news and more delivered right to your
                            inbox!</p>
                        <div class="button-footer">Join the Newsletter</div>
                    </div>

                    <div class="social-media">
                        <p class="social-title">Follow Us</p>
                        <ul class="social-media flat-list">
                            <li><a href="!#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="!#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="!#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="!#"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href="!#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </footer>

                <div class="copyright">
                    <table class="table-container-footer">
                        <tr>
                            <td class="footer-privacy"><a href="!#">Privacy Policy</a></td>
                            <td class="footer-table"><a href="!#">Terms and Policies</a></td>
                            <td class="footer-table"><a href="!#">Your Privacy Choices</a></td>
                            <td class="footer-table"><a href="!#">California Notice</a></td>
                            <td class="footer-table"><a href="!#">Ad Choices</a></td>
                            <td class="footer-access"><a href="!#">Accessibility</a></td>
                        </tr>
                    </table>
                    <div class="legal">
                        <h4>Copyright &copy; Fandango. A Division of NBCUniversal. All rights reserved.</h4>
                    </div>
                </div>
            </article>

        </article>
    </div>
</body>

</html>